<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Learn Vue.js</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

    <div id="app">
        <button @click="show = !show">Show / Hide</button>
        <p v-if="show">Hidden text</p>
        <p v-else>Text 2</p>

        <ul>
            <li v-for="car in cars">{{ car.model }}</li>
        </ul>

    </div>

    <script src="js/main.js"></script>
</body>
</html>